<div class="_pea-row">
	<div class="_pea-document">
		<h2><a href="/collection/<%= collection.name %>"><%= collection.title %></a></h2>
		<%if(request.params.pagenumber){
			var fullpost=true;
			var collectionpost=true;
			try{
				var post = collection.posts[request.params.pagenumber-1].post;
				console.log(post);
						%><% include _post %><%
			}
			catch(e){%><%= e.message %><%}%>
			<%
		}
		else{
			%>
			<div class="_pea-content"><%= collection.content %></div>
			<%
		}%>
		<%if(fullcollection){%>
			<% if(collection.posts && collection.posts.length>0){
				if(!request.params.pagenumber){
					%>
					<div><a href="/collection/<%= collection.name %>/page/1">read more &rarr;</a></div>
					<%
				}
				%>
				<%- viewhelper.getPaginationHtml({
						pagecount : collection.posts.length,
						urlbase : "/collection/"+collection.name+"/page",
						pagenumber : request.params.pagenumber
					}) %>
			<%}%>
		<%}%>
	</div>
</div>
<%if(fullcollection){
	console.log(request);
	// console.log(collection.posts.length);
}%>