				<% if(locals.additionalPostContentHTML && locals.additionalPostContentHTML.length>0){%>
					<article class="ts-text-container  ts-height-100">
						<%- locals.viewhelper.getHTML(locals.additionalPostContentHTML) %>
					</article>
				<%} %>
				<footer class="ts-row ts-serif-clean">
					<% if(locals.usecustomfooter ==='yes' && locals.customfooter){%>
						<%- locals.customfooter %>
					<%}
					else{%>
						<div class="ts-col-span6 ts-text-small">
							<% if(locals.showperiodiccredit ==='show'){%>
	              Curated with <a href="http://getperiodic.org" target="_blank">Periodic</a> | <%} %>Copyright © <% if(pagedata && periodic){%><%= periodic.name %><%}%> <%var d = new Date();%> <%- d.getFullYear() %>
	          </div>
						<div class="ts-col-span6 ts-pull-right ts-text-right ts-text-small">
							Version <% if(pagedata && periodic){%><%= periodic.version %><%} if(locals.showadminlink ==='show'){%> | <a href="/p-admin">Admin</a><%}%>
						</div>
					<%}%>
				</footer>
		</main><!-- /minimal-container -->
		<%- locals.viewhelper.getHTML(locals.additionalFooterHTML) %>
	</body>
</html>