<div class="row">
	<div class="col-12 col-sm-12 col-lg-12">
		<h1><a href="/collection/<%= collection.name %>"><%= collection.title %></a></h1>
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-bottom: 5em;">
		
		  <!-- Indicators -->
		  <ol class="carousel-indicators" style="
    background: #ccc;
    bottom: -3em;
    position: absolute;
">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    	<% if(collection.posts && collection.posts.length>0){
					collection.posts.forEach(function(post,index){%>
				    <li data-target="#carousel-example-generic" data-slide-to="<%= (index+1)%>"></li>
					<%});
				}%>
		    <!-- <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
		  </ol>


		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <% var metaauthor = collection.primaryauthor;
						var metadate = collection.createdat; %>
					<% include _postmeta %>
					<div class="content"><%= collection.content %></div>
		    </div>
		    <% if(collection.posts && collection.posts.length>0){
				collection.posts.forEach(function(post,index){%>
						<div class="item">
							<h2><%= post.post.title %></h2>
							<div class="content"><%- post.post.content %></div>
							<hr>
						</div>
					<%});
				}%>
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" style="background:none" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" style="background:none" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div>

	</div>
</div>