<%
const pluralize = periodic.viewHelper.pluralize;
const capitalize = periodic.viewHelper.capitalize;
const path = periodic.viewHelper.path;
// console.log({locals},'items[pluralize(entitytype)]',items[pluralize(entitytype)])
// console.log({items});
const hasItems = (
  items && 
  items[pluralize(entitytype)] && 
  items[pluralize(entitytype)].documents.length) ? true:false;
const entityName = {
  name: entitytype,
  plural: pluralize(entitytype),
  capitalized: (capitalize(entitytype)),
  pluralCapitalized: pluralize(capitalize(entitytype)),
};
const entityPage = {
  count: (hasItems) ? items[`${entityName.plural}total`] : 0,
  limit: (hasItems) ? items[`${entitytype}limit`] : 0,
  totalpages: (hasItems) ? items[`${entityName.plural}totalpages`] : 1,
  currentpage: (hasItems) ? items[`${entitytype}page_current`] : 1,
}
// console.log({entityPage,items});
%>
<article>
  <section>
    <form method="GET">
      <input placeholder="Search <%- entityName.pluralCapitalized %>" name="query" type="text" value="<%- request.query.query %>"/>
    </form>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Created</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
      <% if(hasItems){
        items[pluralize(entitytype)].documents.map(item=>{%>
          <tr>
            <td><a href="<%- path.join(request.baseurl,request.parsed.pathname,item._id.toString()) %>"><%- item._id %></a></td>
            <td><%- item.title || item.name %></td>
            <td><%- item.createdat %></td>
            <td><%- item.updatedat %></td>
          </tr>
        <%});
      } else{%>
        <tr>
          <td colspan="4">No <%- entityName.pluralCapitalized %></td>
        </tr>
      <%}%>
      </tbody>
      <tfoot>
        <tr>
          <th><% if(entityPage.currentpage > 1){%>
          <a href="?pagenum=<%- entityPage.currentpage-1 %>">Prev Page<a/>
          <%} %>
          </th>
          <th>Page <%- entityPage.currentpage %> of <%- entityPage.totalpages %>
          </th>
          <th>Showing <%- (entityPage.limit > entityPage.count)? entityPage.count: entityPage.limit %> of <%- entityPage.count %></th>
          <th>
          <% if(entityPage.currentpage <= entityPage.totalpages -1){ %>
            <a href="?pagenum=<%- entityPage.currentpage+1 %>">Next Page</a>
          <% } %>
          </th>
        </tr>
      </tfoot>
    </table>
  </section>
</article>