<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 	
	<title>
	<% if(pagedata && periodic){%><%= pagedata.title %> - <%= periodic.name %><%}
	else{%>Periodic<%}%>
	</title>
	<meta name="author" content="Yaw Joseph Etse" />
	<meta name="description" content="fullPage full-screen backgrounds." />
	<meta name="keywords"  content="fullpage,screen,fullscreen,backgrounds,full-screen" />
	<meta name="Resource-type" content="Document" />
	<link rel="icon" type="image/png" href="/favicon.png">
  <link href="<%= locals.themehelper.themePublicResourcePath('periodicjs.theme.periodical','stylesheets') %>periodical.css" rel="stylesheet">
  <% if(typeof pagedisplaytypeSpecific ==='string'){
	  	if(pagedisplaytypeSpecific==='item'){
	  		%>
			<script src="<%= locals.themehelper.themePublicResourcePath('periodicjs.theme.periodical','js') %>content.min.js"></script>
	  		<%
	  	} 
	  	else if( pagedisplaytypeSpecific==='collection'){%>
	  		<script src="<%= locals.themehelper.themePublicResourcePath('periodicjs.theme.periodical','js') %>content.min.js"></script>
		<%} 
	}
  else{%>
  <script src="<%= locals.themehelper.themePublicResourcePath('periodicjs.theme.periodical','js') %>content.min.js"></script>
	<%}%>


	<% if(pagedata && periodic){%>
		<% var headertags = locals.viewhelper.includeJavaScripts(pagedata.headerjs); %><%- headertags %>
	<%}%>
</head>
