<div class="width100">
	<%
	 if(!collectionpost){%>
		<h2>
			<% if(post.entitytype && post.entitytype==="collection"){%>
			<a href="/collection/<%= post.name %>">
			<%}
			else{%>
			<a href="/article/<%= post.name %>">
			<%}%>
			<%= post.title %></a>
		</h2>
	<%}
	else{%>
		<h3><%= post.title %></h3>
	<%}%>
	<% 	
		if(!collectionpost){
			var metaauthor = post.primaryauthor;
			var metadate = post.createdat; 
			}%>
		<% include _postmeta %>
		<%
	 if(fullpost){%>
		<div class="width100"><%- post.content %></div>
	<%}
	else if(!fullpost && post.contenttypeattributes && post.contenttypeattributes.blog && post.contenttypeattributes.blog.summary){%>
		<div class="width100"><%- post.contenttypeattributes.blog.summary %></div>
	<%}
	else{%>
		<div class="width100"><%- post.content %></div>
	<%}%>
</div>