<html>
<body style="background:#ececec; margin:1em; padding:1em;">
	<div style="margin:1em; background:#fff; padding:0.5em;">
		<h2>Welcome to <%= appname %>.</h2>
		<p>Login with your email or username (<a href='http://localhost:8786/p-admin/user/<%= user.username %>' target='_blank'><%= user.username %></a>) at 
		<a href='http://<%= hostname %>/p-admin/' target='_blank'>
		http://<%= hostname %>/p-admin/
		</a> 
		</p>
	</div>
</body>
</html>